<div class="inner-container client-list">
  <bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
  <div class="pt-2">
    <div class="toolbar clearfix">
      <button class="btn btn-default-dark" ng-click="vm.create()" role-auth="CLIENT-ADD-1">
        <i class="fa fa-plus"></i>
        <span>添加客户</span>
      </button>
      
      <!-- <div class="pull-right">
        <input class="input" placeholder="请输入客户名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
        <button class="btn btn-default-dark" ng-click="vm.search()">查询</button>
      </div> -->
    </div>

    <table class="pt-table" st-table="vm.clients" st-pipe="vm.getClientList">
      <thead st-search-watch="vm.searchObject">
        <tr>
          <th style="width:40px">序号</th>
          <th>
            <div st-sort="clientName">客户名称
              <i class="fa fa-sort"></i>
            </div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>业务负责人</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>区域</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>客户编号</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>纳税人识别号</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>开户银行</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>银行账号</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>地址</div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div st-sort="createdAt">建档时间
              <i class="fa fa-sort"></i>
            </div>
            <adjust-line></adjust-line>
          </th>
          <th>
            <div>备注</div>
            <adjust-line></adjust-line>
          </th>
          <th style="width:100px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="vm.loading">
          <td colspan="12" class="text-center">
            <i class="fa fa-pluse fa-spinner"></i>
          </td>
        </tr>
        <tr ng-if="!vm.loading && vm.clients.length === 0">
          <td colspan="12" class="text-center">暂无客户</td>
        </tr>
        <tr ng-repeat="client in vm.clients track by $index" ng-if="!vm.loading">
          <td>{{ $index + 1 }}</td>
          <td>
            <a href ui-sref="app.client.detail.link({id: client.clientNum})">{{ client.clientName }}</a>
          </td>
          <td>{{ client.salesman }}</td>
          <td>{{ client.area }}</td>
          <td>{{ client.clientNum }}</td>
          <td>{{ client.invoiceTitle }}</td>
          <td>{{ client.bankName }}</td>
          <td>{{ client.bankAccount }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.createdAt }}</td>
          <td>{{ client.remark }}</td>
          <td class="dropdown-col">
            <div class="btn-group">
              <button class="btn btn-default" ng-click="vm.edit(client)" role-auth="CLIENT-UPDATE-1">
                <i class="fa fa-edit"></i>
                <span>编辑</span>
              </button>
              <button class="btn btn-default" ng-click="vm.delete(client)" role-auth="CLIENT-DELETE-1" ng-if="!vm.hasUpdateAuth">
                <i class="fa fa-trash"></i>
                <span>删除</span>
              </button>
              <button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="CLIENT-DELETE-1">
                <i class="caret"></i>
              </button>
              <ul class="dropdown-menu">
                <li ng-click="vm.delete(client)">
                  <a href>
                    <i class="fa fa-trash"></i>
                    <span>删除</span>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12">
            <div st-idp st-total-count="vm.total"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
