.btn {
  display: inline-block;
  cursor: pointer;
  margin: 0 12px 0 0;
  padding: 6px 15px;
  font-size: 13px;
  line-height: 1.33;
  border: none;
  border-radius: 3px;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus{
    outline: none;
  }
  @include box-shadow(0.5px 0.5px 0px rgba(102, 175, 233, 0.6));
}

.btn-default-light{
  color: $blue-color;
  background-color: transparent;
  border: 1px solid $blue-color;
  &:focus{
    color: $blue-color;
  }
  &:hover{
    background-color: $blue-color;
    color: #FFFFFF;
    border: 1px solid $blue-color;
  }
  &:disabled, &:disabled:hover{
    color: #CBD2D8;
    background-color: transparent;
    border: 1px solid #CBD2D8;
  }

}
.btn-default-dark{
  color: #FFFFFF;
  background-color: $blue-color;
  border: 1px solid $blue-color;
  &:focus{
    color: #FFFFFF;
  }
  &:hover{
    color: #FFFFFF;
    background-color: $blue-color;
    border: 1px solid $blue-color;
  }
}
