@charset "UTF-8";

html, body {
  min-height: 100%;
  height: 100%;
  background-color: #000000;
}

body {
  font-family: "MicrosoftYaHei", "Microsoft YaHei", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.5;
  color: $body-font-color;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
  color: #3F4A56;
  background-color: transparent;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  outline: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  >div{
    height: 100%;
  }
}

.main-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-left: 200px;
  overflow: hidden;
  background-color: #e1e9ee;
  zoom: 1;
  @include transition(padding-left 0.7s ease-in-out);
  .main{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    >div{
      height: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-button    {
        height: 0;
        width: 0;
      }
      &::-webkit-scrollbar-track     {
        background: #ccc;
      }
      &::-webkit-scrollbar-track-piece {
        background: #ccc;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #aaa;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-corner {
        background: #ccc;
      }
      &::-webkit-scrollbar-resizer  {
      }
      >div{
        @include flex(flex, column);
        padding: 5px 8px;
        min-height: 100%;
        @include animation(scaleIn 0.8s ease-in-out);
      }
    }
  }
}

input, select, textarea{
  border: 1px solid $border-color;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
  &:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

select::-ms-expand{
  display: none;
}
select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  padding-right: 8px;
  background-origin: content-box;
  background-image: url(./images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

input {
  outline: none;
  &:focus, &:hover{
    outline: none;
  }
}

input[type="file"]{
  border: 0;
  @include box-shadow(none);
  &:focus{
    @include box-shadow(none);
  }
}
input[type="checkbox"], input[type="radio"]{
  &+label, &+span{
    margin-left: 5px;
    vertical-align: middle;
    font-weight: initial;
    cursor: pointer;
  }
}

.input {
  min-width: 120px;
  height:26px;
  padding: 3px 8px;
  border-radius: 3px;
  color: #999;
  &.search {
    vertical-align: middle;
    padding-left: 25px;
    background-image: url(./images/search_glyph.png);
    background-repeat: no-repeat;
    background-position: 3% 55%;
  }
  &.date {
    vertical-align: middle;
    padding-right: 25px;
    background-image: url(./images/calendar.png);
    background-repeat: no-repeat;
    background-position: 98% 55%;
    cursor: pointer;
  }
}

.pt, .pt-2{
  padding: 8px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #555;
  @include box-shadow(3px 4px 8px rgba(0, 0, 0, 0.1), -3px -1px 8px rgba(0, 0, 0, 0.1));
}
.pt{
  margin-bottom: 30px;
  flex-shrink: 0;
  -webkie-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
}
.pt-2{
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}

.toolbar{
  padding: 0;
  margin-bottom: 8px;
  color: #555;
  input:not([type='checkbox']){
    width: 240px;
    color: #999;
    vertical-align: middle;
    padding-left: 25px;
    background-image: url(./images/search_glyph.png);
    background-repeat: no-repeat;
    background-position: 3% 55%;
  }
  select{
    width: 240px;
    height: 32px;
    color: #999;
    border-radius: 4px;
    text-indent: 8px;
    vertical-align: middle;
    &+select, &+input{
      margin-left: 5px;
    }
  }
  .btn:last-child {
    margin-right: 0;
  }
  ul.statusBar{
    border-radius: 3px;
    background-color: #e1e9ee;
    display: inline-block;
    margin-right: 10px;
    padding: 1px;
    vertical-align: middle;
    height: 27px;
    li{
      float: left;
      border-radius: 3px;
      line-height: 25px;
      cursor: pointer;
      &.active{
        background-color: #fff;
      }
      a{
        color: #999;
        padding: 0 10px;
      }
    }
  }
}

i+span {
  margin-left: 5px;
}

.error-messages {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  color: $unhealthy;
  margin-top: 8px;
}
.error-messages > i {
  background: url(./images/icon.svg) no-repeat 0px -359px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}

.item-required:after{
  content: '*';
  color: #cc3333;
  margin-left: 4px;
  vertical-align: middle;
}

@keyframes scaleIn {
  0%{ @include scale(0.97); opacity: 0.9 }
  100% { @include scale(1); opacity: 1 }
}
@keyframes slideInLeft {
  0%{ @include translate(-10px, 0); opacity: 0.9 }
  100% { @include translate(0, 0); opacity: 1 }
}
@keyframes slideInRight {
  0%{ @include translate(10px, 0); opacity: 0.9 }
  100% { @include translate(0, 0); opacity: 1 }
}
@keyframes slideInTop {
  0%{ @include translate(0, -10px); opacity: 0.9 }
  100% { @include translate(0, 0); opacity: 1 }
}
@keyframes slideInBottom {
  0%{ @include translate(0, 10px); opacity: 0.9 }
  100% { @include translate(0, 0); opacity: 1 }
}

// 创建、编辑页
.create-body, .edit-body{
  margin-top: 20px;
  padding: 10px 0 20px;
  &.top{
    margin-top: 0;
  }
}
.create-footer, .edit-footer{
  border-top: 1px solid $border-color;
  padding: 20px 0;
}

// custom-select
.select-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  ul {
    position: absolute;
    z-index: 10;
    top: 26px;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow: auto;
    border: 1px solid $border-color;
    background-color: #fff;
    li a{
      display: block;
      padding: 0px 10px;
      cursor: pointer;
      &:hover {
        color: $blue-color;
      }
    }
  }
  &[class-name='form-control'] ul {
    top: 34px;
  }
}

.input-group .input-group-addon {
  padding: 4px 12px;
}
