.navbar {
  width: 200px;
  background-color: #2f749a;
  color: rgba(255,255,255,0.847059);
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  outline:none;
  word-break:keep-all;
  white-space: nowrap;
  @include transition(width 0.7s ease-in-out);
  .navbar-head {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #3181AC;
    padding-left: 10px;
    cursor: default;
    z-index: 10;
    i{
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-top: 5px;
    }
    span{
      display: inline-block;
      color: #fff;
      font-family: -webkit-pictograph;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
      margin-top: -35px;
    }
  }

  .navbar-section {
    width: 100%;
    height: 100%;
    padding: 50px 0 20px;
    margin: 0;
    border: none;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button    {
      height: 0;
    }
    &::-webkit-scrollbar-track     {
      background: #ccc;
    }
    &::-webkit-scrollbar-track-piece {
      background: #ccc;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #aaa;
      border-radius: 8px;
    }
  }

  #accordion {
    >.panel >div, >.panel >ul {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .panel {
      background-color: transparent;
      border: 0;
      outline: none;
      margin: 0;
      border-radius: 0;
      @include box-shadow(none);
      >div {
        a {
          position: relative;
          cursor: pointer;
          display: block;
          color: #fff;
          padding: 5px 8px;
          text-decoration: none;
          font-size: 12px;
          .icon{
            display: inline-block;
            height: 16px;
            width: 16px;
            background: url(./images/icon.svg) no-repeat 0 -41px;
            margin: 0 10px -3px 0;
            &.icon-node{
              background-position-x: -16px;
            }
            &.icon-service{
              background-position-x: -33px;
            }
            &.icon-log{
              background-position-x: -49px;
            }
            &.icon-monitor{
              background-position-x: -65px;
            }
            &.icon-system{
              background-position-x: -82px;
            }
            &.icon-package{
              background-position-x: -101px;
            }
            &.icon-user{
              background-position-x: -120px;
            }
            &.icon-resource{
              background-position-x: -137px;
            }
          }
          .fa{
            position: absolute;
            right: 25px;
            margin-top: 3px;
            font-size: 10px;
            opacity: 1;
            @include transition(transform 0.4s, opacity 0.3s);
          }
        }
        &.active a {
          background-color: #1d5575;
          color: rgba(255,255,255,0.847059);
        }
        &:hover a {
          color: $blue-color;
        }
        &.active:hover a {
          color: rgba(255,255,255,0.847059);
        }
        &[aria-expanded]:hover a {
          color: #fff;
        }
        &[aria-expanded="true"]  .fa {
          transform: rotate(-180deg);
        }
      }
      ul {
        >li {
          a {
            position: relative;
            cursor: pointer;
            display: block;
            color: #fff;
            padding: 5px 8px 5px 40px;
            text-decoration: none;
            font-size: 12px;
            span:before{
              content: '';
              display: inline-block;
              margin-right: 8px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #fff;
              border: 1px solid #fff;
            }
          }
          &.active > a {
            background-color: #1d5575;
            color: rgba(255,255,255,0.847059);
          }
          &:hover > a {
            color: $blue-color;
          }
          &.active:hover > a {
            color: rgba(255,255,255,0.847059);
          }
        }
      }
      .panel {
        >div {
          &[aria-expanded="true"]  .fa {
            transform: rotate(-45deg);
          }
          a {
            padding-left: 46px;
            span:before{
              content: '';
              display: inline-block;
              margin-right: 8px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #fff;
              border: 1px solid #fff;
            }
          }
        }
        ul > li >a {
          padding-left: 58px;
          span:before{
            width: 4px;
            height: 4px;
          }
        }
      }
    }
  }

  .navbar-items {
    margin-top: 15px;
    >li{
      position: relative;
      outline: none;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      &:not(.has-secondary):hover{
        >a span{
          color: $blue-color;
        }
      }
      >a{
        position: relative;
        display: block;
        color: #FFFFFF;
        padding: 5px 8px;
        text-decoration: none;
        font-size: 12px;
        overflow: hidden;
        .icon{
          display: inline-block;
          font-size: 18px;
          margin: 0 10px -5px 0;
        }
        .chevron{
          position: absolute;
          right: 15px;
          margin-top: 3px;
          font-size: 10px;
          opacity: 1;
          @include transition(transform 0.4s, opacity 0.3s);
        }
      }
      &.active{
        >a{
          background-color: #1d5575;
          color: $blue-color;
        }
        ul{
          display: block;
        }
      }
      &.open{
        .chevron{
          transform: rotate(-180deg);
        }
      }
      &.active.has-secondary{
        >a{
          background-color: transparent;
          color: rgba(255,255,255,0.847059);
        }
      }
      ul{
        position: relative;
        display: none;
        min-width: 120px;
        overflow: hidden;
        background-color: transparent;
        li{
          a{
            display: block;
            color: rgba(255,255,255,0.847059);
            padding: 5px 8px 5px 40px;
            font-size: 10px;
            border-color: transparent;
            span:before{
              content: '';
              display: inline-block;
              margin-right: 8px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #fff;
              border: 1px solid #fff;
            }
          }
          &:hover{
            a{
              color: $blue-color;
            }
          }
          &.active{
            a{
              background-color: #1d5575;
              color: rgba(255,255,255,0.847059);
              span:before{
              }
            }
          }
        }
      }
    }
  }
}
