@charset "utf-8";
// 这里可以自定义变量，或定义bootstrap中的同名变量来覆盖它
$icon-font-path: 'fonts/bootstrap/';
$fa-font-path: 'fonts/font-awesome';

$body-font-color: #6c6c6c;

$blue-color: #1890FF;
$hover-blue-color: #40A9FF;

$border-color: #D8DEE2; // 大部分输入框边框颜色

$thead-font-color: #757b8d;
$tbody-font-color: #222222;
$table-border-color: #e8e8e8;

$healthy: #5DC560; // 运行、健康等绿色
$unhealthy: #C14444; // 错误、不健康等红色
