<div class="inner-container quotation-detail">
  <bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
  <div class="pt-2">
      <div class="toggle-header">
        <i class="fa" ng-class="{'fa-caret-up': vm.showClient, 'fa-caret-down': !vm.showClient}"></i>
        <span>客户信息</span>
      </div>
      <div class="toggle-body" ng-show="vm.showClient">
      <form name="form" novalidate>
        <table class="form-table">
          <tr>
            <td class="item-title">
              <span class="item-required">客户名称</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.client">
            </td>
            <td class="item-title">
              <span class="item-required">联系人</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.user">
            </td>
          </tr>
          <tr>
            <td class="item-title">
              <span>客户电话</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.telephone">
            </td>
            <td class="item-title">
              <span>客户传真</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.fax">
            </td>
          </tr>
          <tr>
            <td class="item-title">
              <span>客户邮箱</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.email">
            </td>
            <td class="item-title">
              <span>客户地址</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.address">
            </td>
          </tr>
          <tr>
            <td class="item-title">
              <span>报价人</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.offerer">
            </td>
            <td class="item-title">
              <span>报价日期</span>
            </td>
            <td>
              <input class="input" ng-model="vm.quotation.date">
            </td>
          </tr>
        </table>

        <table class="pt-table border-table no-vertical-line">
          <thead>
            <tr>
              <th style="width:40px">序号</th>
              <th class="item-required">品名</th>
              <th>规格</th>
              <th>数量</th>
              <th>单位</th>
              <th>单价</th>
              <th>金额</th>
              <th>备注</th>
              <th style="width: 60px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.itemArr track by $index">
              <td>{{ $index }}</td>
              <td>
                <input class="input" ng-model="item.name">
              </td>
              <td>
                <input class="input" ng-model="item.specification">
              </td>
              <td>
                <input type="number" class="input" ng-model="item.quantity" ng-blur="vm.computeTotalPrice($index)">
              </td>
              <td>
                <input class="input" ng-model="item.unit">
              </td>
              <td>
                <input type="number" class="input" ng-model="item.price" ng-blur="vm.computeTotalPrice($index)">
              </td>
              <td>
                <input type="number" class="input" ng-model="item.total">
              </td>
              <td>
                <input class="input" ng-model="item.remark">
              </td>
              <td>
                <i class="fa fa-minus-circle" ng-click="vm.deleteItem($index)"></i>
                <i class="fa fa-plus-circle" ng-click="vm.addItem()" ng-if="$last"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>

      <div class="toggle-header" ng-click="vm.showTop = !vm.showTop">
        <i class="fa" ng-class="{'fa-caret-up': vm.showTop, 'fa-caret-down': !vm.showTop}"></i>
        <span>报价单顶部</span>
      </div>
      <div class="toggle-body" ng-show="vm.showTop">
        <div class="top">
          <textarea id="tmpl-top" style="width:100%;height:200px;"></textarea>
        </div>
      </div>

      <div class="toggle-header" ng-click="vm.showBottom = !vm.showBottom">
        <i class="fa" ng-class="{'fa-caret-up': vm.showBottom, 'fa-caret-down': !vm.showBottom}"></i>
        <span>报价单底部</span>
      </div>
      <div class="toggle-body" ng-show="vm.showBottom">
        <div class="bottom">
          <textarea id="tmpl-bottom" style="width:100%;height:200px;"></textarea>
        </div>
      </div>

      <div class="toggle-header" ng-click="vm.showStamp = !vm.showStamp">
        <i class="fa" ng-class="{'fa-caret-up': vm.showStamp, 'fa-caret-down': !vm.showStamp}"></i>
        <span>公司印章设置</span>
      </div>
      <div class="toggle-body" ng-show="vm.showStamp">
			  <a class="btn btn-default-light" custom-file-btn>
				  <span class="item-required"><i class="fa fa-plus"></i>上传图片</span>
			  </a>
			  <span>{{ vm.filename }}</span>
        <input type="file" class="select-file" ngf-select name="stamp" ng-model="vm.stamp" custom-file-change="vm.addFile" ngf-pattern="/\.(png|PNG|jpg|JPG)?$/">
        <div class="stamp-position">
          <span>印章位置：</span>
          <select class="input" ng-model="vm.position.stampPosition" ng-options="option.value as option.label for option in vm.positions" ng-change="vm.changePosition()"></select>
          <span>左边距离：</span>
          <input class="input" ng-model="vm.position.left" ng-disabled="vm.position.stampPosition !== 'custom'" />
          <span>顶部距离：</span>
          <input class="input" ng-model="vm.position.top" ng-disabled="vm.position.stampPosition !== 'custom'" />
        </div>

      </div>

      <div class="btn-area text-center">
        <button class="btn btn-2x btn-default-dark" ng-click="vm.preview()">预览</button>
        <button class="btn btn-2x btn-default-dark" ng-click="vm.ok(form)">确认</button>
        <button class="btn btn-2x btn-default-light" ui-sref="app.quotation">取消</button>
      </div>
  </div>
</div>
