<div class="checkItem-manage">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>

	<div class="pt-2">
		<div class="check-list">
			<div class="check-tree">
				<div class="loading" ng-if="vm.catalogLoading"><i></i></div>
				<div id="inspectTree" class="ztree"></div>
			</div>
			<div class="check-info">
				<table class="pt-table">
					<thead>
						<tr>
							<th>名称</th>
							<th>检测方法</th>
							<th>单位</th>
							<th>标准值</th>
							<th>检出限</th>
							<th>定量限</th>
							<th>设备</th>
							<th>默认价格</th>
							<th>检测部门</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="vm.checkItems.length == 0">
							<td colspan="10" class="text-center">暂无检测项</td>
						</tr>
						<tr ng-repeat="item in vm.checkItems track by item.id">
							<td>{{ item.name }}</td>
							<td>{{ item.method }}</td>
							<td>{{ item.unit }}</td>
							<td>{{ item.standard_value }}</td>
							<td>{{ item.detection_limit }}</td>
							<td>{{ item.quantitation_limit }}</td>
							<td>{{ item.device }}</td>
							<td>{{ item.default_price }}</td>
							<td>{{ item.department || '--' }}</td>
							<td>
								<button class="btn btn-default" ng-click="vm.deleteCheckItem(item)"><i class="fa fa-trash"></i><span>删除</span></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<ul id="folder" class="context-menu">
				<li ng-click="vm.addChildNode()">添加下级目录</li>
				<li ng-click="vm.addSiblingNode()">添加同级目录</li>
				<li ng-click="vm.editNode()">重命名</li>
				<li ng-click="vm.deleteNode()">删除</li>
			</ul>
			<ul id="file" class="context-menu">
				<li ng-click="vm.addSiblingNode()">添加同级目录</li>
				<li ng-click="vm.addCheckItem()">添加检测项</li>
				<li ng-click="vm.editNode()">重命名</li>
				<li ng-click="vm.deleteNode()">删除</li>
			</ul>
		</div>
	</div>
</div>
