<div class="inner-container tmpl-create">
	<div class="pt-2">
    <!-- <h4>制作模板</h4> -->
    <div class="toolbar">
      <!-- <button id="save" ng-click="vm.preview()">预览</button>&emsp; -->
      <!-- <button id="save" ng-click="vm.save()">保存</button>&emsp; -->
      <!-- <button id="print" ng-click="vm.print()">打印</button>&emsp; -->
      <!-- <button id="download" ng-click="vm.download()">下载</button> -->
      <button id="download" ng-click="vm.design()">打印设计</button>
      <button id="download" ng-click="vm.test()">测试</button>
    </div>
    <!-- <textarea id="tmpl" style="width:100%;height:400px;"></textarea> -->
    <div class="wrapper">
    <style>table th{text-align:left;} td{border:1px solid black;}</style>
		<table border="1" width="100%" style="border: 1px solid black;border-collapse: collapse">
			<thead>
				<tr>
					<th>模板名称</th>
					<th style="width: 100px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="/images/login/wave.svg" /></td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
				<tr>
					<td>测试</td>
					<td>skdfjaskdfjka</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" style="text-align:center;">
            按实际快递费激昂慷慨
					</td>
				</tr>
			</tfoot>
    </table>
    </div>
	</div>
</div>

