<div class="modal-header">
	<div class="close" ng-click="cancel()">&times;</div>
	<h4>模板制作说明</h4>
</div>

<div class="modal-body">
	<p>1、自定义模板的样式（实验室办公人员按照规定的样式制作）</p>
	<p>2、涉及到需要利用系统填充的数据参照如下表格填充。</p>
	<table class="form-table">
		<tr>
			<td class="item-title"><span>报告编号</span></td>
			<td><span>&reportId</span></td>
			<td class="item-title"><span>检验类别</span></td>
			<td><span>&sampleType</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>签发日期</span></td>
			<td><span>&receiveDate</span></td>
			<td class="item-title"><span>委托单位</span></td>
			<td><span>&entrustedUnit</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>委托单位地址</span></td>
			<td><span>&entrustedUnitAddress</span></td>
			<td class="item-title"><span>样品标示名称</span></td>
			<td><span>&sampleName</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样单编号</span></td>
			<td><span>&sampleReportId</span></td>
			<td class="item-title"><span>消毒日期</span></td>
			<td><span>&receiveDate</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样人或单位</span></td>
			<td><span>&sampleNames</span></td>
			<td class="item-title"><span>样品数量</span></td>
			<td><span>&sampleNumber</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样方式</span></td>
			<td><span>&sampleWay</span></td>
			<td class="item-title"><span>规格型号</span></td>
			<td><span>&specificationModel</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样日期</span></td>
			<td><span>&receiveDate</span></td>
			<td class="item-title"><span>商标</span></td>
			<td><span>&sampleTrademark</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样基数</span></td>
			<td><span>&sampleBasenumber</span></td>
			<td class="item-title"><span>等级或加工工艺</span></td>
			<td><span>&processingTechnology</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>样品状态</span></td>
			<td><span>&sampleStatus</span></td>
			<td class="item-title"><span>执行标准</span></td>
			<td><span>&executeStandard</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>抽样地点</span></td>
			<td><span>&sampleBasenumber</span></td>
			<td class="item-title"><span>受检单位</span></td>
			<td><span>&inspectedUnit</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>标称生产单位</span></td>
			<td><span>&productionUnit</span></td>
			<td class="item-title"><span>受检单位地址</span></td>
			<td><span>&inspectedUnitAddress</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>样品接收日期</span></td>
			<td><span>&receiveDate</span></td>
			<td class="item-title"><span>样品检测日期</span></td>
			<td><span>&finishDate</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>检验结论</span></td>
			<td><span>&result</span></td>
			<td class="item-title"><span>主检人</span></td>
			<td><span>&principalInspector</span></td>
		</tr>
		<tr>
			<td class="item-title"><span>审核</span></td>
			<td><span>&examineUser</span></td>
			<td class="item-title"><span>批准</span></td>
			<td><span>&approvalUser</span></td>
		</tr>
	</table>
</div>
