<form name="contractSampleForm">
	<table class="form-table">
		<tr>
			<td class="item-title">
				<span class="item-required">项目名称</span>
			</td>
			<td>
				<input class="input" name="project_name" ng-model="vm.contract.project_name" required>
			</td>
			<td class="item-title">
				<span class="item-required">报告编号</span>
			</td>
			<td>
				<input class="input" name="id" ng-model="vm.contract.id" disabled required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">样品类别</span>
			</td>
			<td>
				<input type="radio" ng-model="vm.contract.sample_type" value="food">食品&emsp;&emsp;&emsp;
				<input type="radio" ng-model="vm.contract.sample_type" value="feed">饲料&emsp;&emsp;&emsp;
				<input type="radio" ng-model="vm.contract.sample_type" value="env">环境
			</td>
			<td class="item-title">
				<span class="item-required">检验类型</span>
			</td>
			<td>
				<select class="input" name="inspect_type" ng-model="vm.contract.inspect_type" ng-options="option for option in ['监督检验', '省级食品安全监', '委托检验', '发证检验']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">报告格式</span>
			</td>
			<td>
				<input type="radio" ng-model="vm.entrust_version" value="singleVersion">单页版&emsp;&emsp;
				<input type="radio" ng-model="vm.entrust_version" value="entrustVersion">委托版&emsp;&emsp;
				<input type="radio" ng-model="vm.entrust_version" value="standardVersion">标准版&emsp;&emsp;
				<input type="radio" ng-model="vm.entrust_version" value="greenVersion">绿色版&emsp;&emsp;
			</td>
			<td class="item-title">
				<span class="item-required">报告份数</span>
			</td>
			<td>
				<input class="input" type="number" name="vm.entrust_count" ng-model="vm.entrust_count" required>
			</td>
		</tr>
	</table>

	<table class="form-table">
		<tr>
			<td class="item-title">
				<span class="item-required">委托单位</span>
			</td>
			<td>
				<input class="input" name="entrust_company" ng-model="vm.contract.entrust_company" required>
			</td>
			<td class="item-title">
				<span class="item-required">委托地址</span>
			</td>
			<td>
				<input class="input" name="entrust_address" ng-model="vm.contract.entrust_address" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">委托人</span>
			</td>
			<td>
				<input class="input" name="entrust_contract" ng-model="vm.contract.entrust_contract" required>
			</td>
			<td class="item-title">
				<span class="item-required">电话</span>
			</td>
			<td>
				<input class="input" name="entrust_telephone" ng-model="vm.contract.entrust_telephone" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>邮箱</span>
			</td>
			<td>
				<input class="input" name="entrust_email" ng-model="vm.contract.entrust_email">
			</td>
			<td colspan="2">
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">受检单位</span>
			</td>
			<td>
				<input class="input" name="inspected_company" ng-model="vm.contract.inspected_company" required>
			</td>
			<td class="item-title">
				<span class="item-required">受检地址</span>
			</td>
			<td>
				<input class="input" name="inspected_address" ng-model="vm.contract.inspected_address" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">联系人</span>
			</td>
			<td>
				<input class="input" name="inspected_contract" ng-model="vm.contract.inspected_contract" required>
			</td>
			<td class="item-title">
				<span class="item-required">电话</span>
			</td>
			<td>
				<input class="input" name="inspected_telephone" ng-model="vm.contract.inspected_telephone" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>邮箱</span>
			</td>
			<td>
				<input class="input" name="inspected_email" ng-model="vm.contract.inspected_email">
			</td>
			<td colspan="2">
			</td>
		</tr>
	</table>

	<table class="form-table">
		<tr>
			<td class="item-title">
				<span class="item-required">接样地点</span>
			</td>
			<td>
				<input class="input" name="inspect_address" ng-model="vm.contract.inspect_address">
			</td>
			<td class="item-title">
				<span class="item-required">样品名称</span>
			</td>
			<td>
				<input class="input" name="sample_name" ng-model="vm.contract.sample_name" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">接样单号</span>
			</td>
			<td>
				<input class="input" name="sample_id" ng-model="vm.contract.sample_id" required="">
			</td>
			<td class="item-title">
				<span class="item-required">接样环节</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['流通环节', '餐饮环节', '生产环节']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>商标</span>
			</td>
			<td>
				<input class="input" name="sample_brand" ng-model="vm.contract.sample_brand">
			</td>
			<td class="item-title">
				<select class="input" name="sample_period" ng-model="vm.sample_produce_date" ng-options="option for option in ['生产日期', '加工日期', '购进日期', '消毒日期']"></select>
			</td>
			<td>
				<input class="input" type="date">
			</td>
		</tr>

		<tr>
			<td class="item-title">
				<span class="item-required">接样时间</span>
			</td>
			<td>
				<input class="input" type="date">
			</td>
			<td class="item-title">
				<span class="item-required">接样方式</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">规格型号</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">执行标准</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">等级或加工工艺</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">封样状态</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">样品数</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">样品状态</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">接样基数</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">保存条件</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">接样人或单位</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">市场部负责人</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">交样人</span>
			</td>
			<td>
				<input class="input">
			</td>
			<td class="item-title">
				<span class="item-required">收样人</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">协议编号</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
			<td class="item-title">
				<span class="item-required">分包</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']" required></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">收样日期</span>
			</td>
			<td>
				<input class="input" type="date">
			</td>
			<td class="item-title">
				<span class="item-required">天数</span>
			</td>
			<td>
				<input class="input" type="number">
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">约定完成日期</span>
			</td>
			<td>
				<input class="input" type="date">
			</td>
			<td class="item-title">
				<span class="item-required">要求完成日期</span>
			</td>
			<td>
				<input class="input" type="date">
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">生产单位</span>
			</td>
			<td>
				<input class="input" name="produce" ng-model="vm.contract.produce" required>
			</td>
			<td class="item-title">
				<span class="item-required">地址</span>
			</td>
			<td>
				<input class="input" name="produce_address" ng-model="vm.contract.produce_address" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span class="item-required">联系人</span>
			</td>
			<td>
				<input class="input" name="produce_contract" ng-model="vm.contract.produce_contract" required>
			</td>
			<td class="item-title">
				<span class="item-required">电话</span>
			</td>
			<td>
				<input class="input" name="produce_telephone" ng-model="vm.contract.produce_telephone" required>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>区域</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']"></select>
			</td>
			<td class="item-title">
				<span>接样区域</span>
			</td>
			<td>
				<input class="input" name="produce_telephone" ng-model="vm.contract.produce_telephone">
			</td>
		</tr>
	</table>

	<table class="form-table">
		<tr>
			<td class="item-title">
				<span>累计费用</span>
			</td>
			<td>
				<input class="input">
			</td>
			<td class="item-title">
				<span>折扣比例</span>
			</td>
			<td>
				<select class="input" name="sample_period" ng-model="vm.contract.sample_period" ng-options="option for option in ['test']"></select>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>折扣后费用</span>
			</td>
			<td>
				<input class="input">
			</td>
			<td class="item-title">
				<span>应收费</span>
			</td>
			<td>
				<input class="input">
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>备注</span>
			</td>
			<td>
				<textarea class="input" rows="2"></textarea>
			</td>
			<td class="item-title">
				<span>数据页备注</span>
			</td>
			<td>
				<textarea class="input" rows="2"></textarea>
			</td>
		</tr>
		<tr>
			<td class="item-title">
				<span>报告发送方式</span>
			</td>
			<td>
				<input type="radio" ng-model="vm.getReportType" value="self">自取&emsp;&emsp;
				<input type="radio" ng-model="vm.getReportType" value="mail">邮寄
			</td>
			<td colspan="2">
			</td>
		</tr>
	</table>
</form>
