<div class="client-schedule-list">
	<div class="toolbar clearfix">
		<button class="btn btn-default-dark" ng-click="vm.create()">
			<i class="fa fa-plus"></i>
			<span>添加日程</span>
		</button>
	</div>
	<div class="tips" ng-if="vm.schedules.length === 0">暂无日程安排，请添加！</div>

	<div class="div-pt-table">
		<div class="div-pt-header">
			<div class="div-pt-row">
				<div class="div-pt-cell" style="width: 4%">
					<i class="fa fa-arrow-circle-o-right" style="opacity: 0"></i>
				</div>
				<div class="div-pt-cell" style="width: 20%">日程名称</div>
				<div class="div-pt-cell" style="width: 20%">地址</div>
				<div class="div-pt-cell" style="width: 20%">起止时间</div>
				<div class="div-pt-cell" style="width: 20%">执行人</div>
				<div class="div-pt-cell">操作</div>
			</div>
		</div>
		<div class="div-pt-body">
			<div class="div-pt-loading text-center" ng-if="vm.loading">
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
			<div class="div-pt-row text-center" ng-if="!vm.loading && vm.schedules.length === 0">暂无日程安排</div>
			<div class="div-pt-row clearfix" ng-repeat="schedule in vm.schedules track by schedule.id">
				<div class="div-pt-cell" style="width: 4%">
					<i class="fa" ng-class="{'fa-arrow-circle-o-right': !vm.show[schedule.id], 'fa-arrow-circle-o-down': vm.show[schedule.id]}" ng-click="vm.getReport(schedule)"></i>
				</div>
				<div class="div-pt-cell" style="width: 20%">{{ schedule.schedulerName }}</div>
				<div class="div-pt-cell" style="width: 20%">{{ schedule.schedulerAddress || '--' }}</div>
				<div class="div-pt-cell" style="width: 20%">
					<div>{{ schedule.schedulerStartTime }}</div>
					<div>{{ schedule.schedulerEndTime }}</div>
				</div>
				<div class="div-pt-cell" style="width: 20%">{{ schedule.executor }}</div>
				<div class="div-pt-cell">
					<div class="btn-group">
						<button class="btn btn-default" ng-click="vm.edit(schedule)">
							<i class="fa fa-edit"></i><span>编辑</span>
						</button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="caret"></i>
						</button>
						<ul class="dropdown-menu">
							<li ng-click="vm.delete(schedule)">
								<a href><i class="fa fa-trash"></i><span>删除</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="text-center" style="margin:20px" ng-if="vm.show[schedule.id]">
					<a href ng-click="vm.createReport(schedule)"><i class="fa fa-plus"></i>添加工作汇报</a>
				</div>
				<table class="pt-table" ng-if="vm.show[schedule.id] && (schedule.reports && schedule.reports.length > 0)">
					<thead>
						<tr>
							<th>
								<div>进展内容</div>
								<adjust-line></adjust-line>
							</th>
							<th>
								<div>备注</div>
								<adjust-line></adjust-line>
							</th>
							<th>
								<div>汇报时间</div>
								<adjust-line></adjust-line>
							</th>
							<th style="width:100px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="report in schedule.reports track by report.id">
							<td>{{ report.reportContent }}</td>
							<td>{{ report.remark }}</td>
							<td>{{ report.createdAt }}</td>
							<td>
								<div class="btn-group">
									<button class="btn btn-default" ng-click="vm.editReport(schedule, report)">
										<i class="fa fa-edit"></i><span>编辑</span>
									</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown">
										<i class="caret"></i>
									</button>
									<ul class="dropdown-menu">
										<li ng-click="vm.deleteReport(schedule, report.id)">
											<a href><i class="fa fa-trash"></i><span>删除</span></a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
