<div class="privilege-user-list">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
	<div class="pt-2">
		<div class="toolbar">
			<button class="btn btn-default-dark" ng-click="vm.create()" role-auth="USER-ADD-1">
				<i class="fa fa-plus"></i><span>新建用户</span>
			</button>
			<div class="pull-right">
				<input class="input" placeholder="请输入名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
				<button class="btn btn-default-dark" ng-click="vm.search()">查询</button>
			</div>
		</div>
		<table class="pt-table" st-table="vm.users" st-pipe="vm.getUserList">
			<thead st-search-watch="vm.searchObject">
				<tr>
					<th>用户名称</th>
					<th>中文姓名</th>
					<th>邮箱</th>
					<th>描述</th>
					<th>所在部门</th>
					<th>职责</th>
					<th>创建时间</th>
					<th style="width: 140px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.loading">
					<td colspan="8" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.loading && vm.users.length == 0">
					<td colspan="8" class="text-center">暂无用户</td>
				</tr>
				<tr ng-repeat="user in vm.users track by $index" ng-if="!vm.loading">
					<td>{{ user.username }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.description }}</td>
					<td>{{ user.organization.name }}</td>
					<td>{{ user.role.name }}</td>
					<td>{{ user.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					<td class="dropdown-col">
						<div class="btn-group" role-auth="USER-EDIT-1 USER-DELETE-1">
							<button class="btn btn-default" ng-click="vm.edit(user)" role-auth="USER-EDIT-1">
								<i class="fa fa-edit"></i><span>修改信息</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="USER-EDIT-1 USER-DELETE-1">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.assignRole(user)" role-auth="USER-EDIT-1">
									<a href><i class="icon icon-change"></i><span>更改角色</span></a>
								</li>
								<li ng-click="vm.delete(user)" role-auth="USER-DELETE-1">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">
						<div st-idp st-total-count="vm.total"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
