<div class="check-list">
	<div class="check-tree">
		<div id="inspectTree" class="ztree"></div>
	</div>
	<div class="check-info">
		<table class="pt-table">
			<thead>
				<tr>
					<th>名称</th>
					<th>检测方法</th>
					<th>单位</th>
					<th>标准值</th>
					<th>检出限</th>
					<th>定量限</th>
					<th>设备</th>
					<th>默认价格</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.ciLoading">
					<td colspan="9" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.ciLoading && vm.checkItems.length == 0">
					<td colspan="9" class="text-center">暂无检测项</td>
				</tr>
				<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.ciLoading">
					<td>{{ item.name }}</td>
					<td>{{ item.method }}</td>
					<td>{{ item.unit }}</td>
					<td>{{ item.standard_value }}</td>
					<td>{{ item.detection_limit }}</td>
					<td>{{ item.quantitation_limit }}</td>
					<td>{{ item.device }}</td>
					<td>{{ item.default_price }}</td>
					<td>
						<button class="btn btn-default" ng-click="vm.deleteCheckItem(item)">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="context-menu">
		<li ng-click="vm.addNode()">添加子节点</li>
		<li ng-click="vm.addCheckItem()">添加检测项</li>
		<li ng-click="vm.editNode()">编辑</li>
		<li ng-click="vm.deleteNode()">删除</li>
	</ul>
</div>
