<div class="privilege-user-type">
    <div class="toolbar">
      <button class="btn btn-default-dark" ng-click="vm.create()" role-auth="USER-ADD-1">
        <i class="fa fa-plus"></i>
        <span>添加用户类型</span>
      </button>
      <div class="pull-right">
        <input class="input" placeholder="请输入名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
        <button class="btn btn-default-dark" ng-click="vm.search()">查询</button>
      </div>
    </div>

    <table class="pt-table" st-table="vm.users" st-pipe="vm.getUserType">
      <thead st-search-watch="vm.searchObject">
        <tr>
          <th>用户名称</th>
          <th>用户类型</th>
          <th style="width: 100px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="vm.loading">
          <td colspan="3" class="text-center">
            <i class="fa fa-pulse fa-spinner"></i>
          </td>
        </tr>
        <tr ng-if="!vm.loading && vm.users.length == 0">
          <td colspan="3" class="text-center">暂无用户</td>
        </tr>
        <tr ng-repeat="user in vm.users track by $index" ng-if="!vm.loading">
          <td>{{ user.name }}</td>
          <td>{{ user.type }}</td>
          <td class="dropdown-col">
            <div class="btn-group" role-auth="USER-EDIT-1 USER-DELETE-1">
              <button class="btn btn-default" ng-click="vm.edit(user)" role-auth="USER-EDIT-1">
                <i class="fa fa-edit"></i>
                <span>编辑</span>
              </button>
              <button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="USER-EDIT-1 USER-DELETE-1">
                <i class="caret"></i>
              </button>
              <ul class="dropdown-menu">
                <li ng-click="vm.delete(user)" role-auth="USER-DELETE-1">
                  <a href>
                    <i class="fa fa-trash"></i>
                    <span>删除</span>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <div st-idp st-total-count="vm.total"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  