<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
	<h4>录入检测结果</h4>
</div>
<div class="modal-body">
	<form name="distributeForm">
		<div class="form-group">
			<p>单项结论</p>
			<textarea class="form-control" cols="3"></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default-dark" ng-click="vm.ok()" ng-disabled="distributeForm.$invalid">确认</button>
	<button class="btn btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
