.business-distribute-list.business-sample-list {
  .check-list {
    padding: 0;
    .check-tree {
      top: 0;
      width: 300px;
      padding: 10px;
      table {
        td {
          border-right: 0;
        }
      }
    }
    .check-info {
      padding-left: 310px;
    }
  }
}