[window-class='pdf-preview'] .modal-dialog {
	width:90%;
	margin:0 auto!important;
	top:20px;
	bottom:20px;
	height:90%;
	.modal-content {
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.business-report-list {
	.switch {
		label {
			width: 90px;
			&:before {
				width: 44px;
				border-radius: 22px;
			}
		}
		span {
			width: 90px;
			&:before {
				content: '未完成'
			}
			&:after {
				content: '已完成'
			}
		}
		input:checked{
			+label:before{
				transform: translateX(44px);
				-webkit-transform: translateX(44px);
			}
		}
	}
}
