<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
</div>
<div class="modal-body">
	<table class="pt-table">
		<thead>
			<tr>
				<th style="width: 24px;">
					<input type="checkbox" ng-click="vm.checkAll()" ng-model="vm.allChecked">
				</th>
				<th>
					<div>名称</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>检测方法</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>单位</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>标准值</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>检出限</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>定量限</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>设备</div>
					<adjust-line></adjust-line>
				</th>
				<th>
					<div>默认价格</div>
					<adjust-line></adjust-line>
				</th>
				<th>检测部门</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="vm.ciLoading">
				<td colspan="10" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
			</tr>
			<tr ng-if="!vm.ciLoading && vm.checkItems.length == 0">
				<td colspan="10" class="text-center">暂无检测项</td>
			</tr>
			<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.ciLoading">
				<td>
					<input type="checkbox" ng-checked="vm.itemChecked[$index]" ng-click="vm.checkItem($event, $index, item)">
				</td>
				<td>{{ item.name }}</td>
				<td>{{ item.method }}</td>
				<td>{{ item.unit }}</td>
				<td>{{ item.standard_value }}</td>
				<td>{{ item.detection_limit }}</td>
				<td>{{ item.quantitation_limit }}</td>
				<td>{{ item.device }}</td>
				<td>{{ item.default_price }}</td>
				<td>{{ item.department }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-2x btn-default-dark" ng-click="vm.ok()">添加</button>
	<button class="btn btn-2x btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
