<div class="inner-container company-list">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>

	<div class="pt-2">
		<div class="toolbar clearfix">
			<button class="btn btn-default-dark" ng-click="vm.create()">
				<i class="fa fa-plus"></i>
				<span>添加企业</span>
			</button>
			
			<!-- <div class="pull-right">
				<input class="input" placeholder="请输入企业名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
				<button class="btn btn-default-dark" ng-click="vm.search()">
					<i class="fa fa-search"></i>
					<span>查询</span>
				</button>
			</div> -->
		</div>
		<table class="pt-table" st-table="vm.companys" st-pipe="vm.getCompanyList">
			<thead st-search-watch="vm.searchObject">
				<tr>
					<th>
						<div>企业名称</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>企业类型</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>法人/负责人</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>社会信用代码</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>许可/登记证号</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>生产/经营地址</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>规模大小</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>规模评分</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>品种业态</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>品种业态评分</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>电话</div>
						<adjust-line></adjust-line>
					</th>
					<th style="width: 120px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.loading">
					<td colspan="12" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.loading && vm.companys.length == 0">
					<td colspan="12" class="text-center">暂无企业</td>
				</tr>
				<tr ng-repeat="item in vm.companys track by item.id" ng-if="!vm.loading">
					<td>
            <a href ui-sref="app.review.company.report({companyId: item.id})">{{ item.comName }}</a>
          </td>
					<td>{{ item.comType }}</td>
					<td>{{ item.comPrincipal }}</td>
					<td>{{ item.comCreditCode }}</td>
					<td>{{ item.comLicence }}</td>
					<td>{{ item.comAddress }}</td>
					<td>{{ item.comScale }}</td>
					<td>{{ item.comScaleScore }}</td>
					<td>{{ item.comVariety }}</td>
					<td>{{ item.comVarietyScore }}</td>
					<td>{{ item.comTelephone }}</td>
					<td class="dropdown-col">
						<div class="btn-group">
							<button class="btn btn-default" ng-click="vm.edit(item)">
								<i class="fa fa-edit"></i>
								<span>编辑</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.delete(item)">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="12">
						<div st-idp st-total-count="vm.total"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

