.add-reviewer {
  .input {
    min-width: 100%;
    width: 100%;
  }
}

.review-project-table.pt-table {
  tbody tr {
    &:nth-child(2n) {
      background-color: #fff;
    }
    &:hover {
      background-color: transparent;
    }
    td {
      padding: 8px 5px;
    }
  }
  .input {
    min-width: 100%;
    width: 100%;
  }
  textarea.input {
    height: initial;
  }
}

.report-project-list .btn-area {
  text-align: center;
  padding: 5px 0;
}

.search-company {
  .search-box {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    .input {
      width: 300px;
      height: 30px
    }
  }
  form {
    width: 70%;
    label.control-label {
      padding-top: 0;
    }
  }
}