.business-sample-list {
	.pt-2 {
		min-height: 300px;
		@include flex(flex, column);
	}
	table.pt-table tbody tr.selected {
		background-color: #d4eefb + #111;
	}
	.switch input+label+span {
		&:before {
			content: '否';
		}
		&:after {
			content: '是';
		}
	}
	.advanced-search {
		margin-top: 15px;
    padding-right: 0;
    >div {
    	margin-right: 5px;
    }
    input {
    	width: 150px;
    	background-image: none;
    	padding-left: 10px!important;
    }
    .calendar-area{
      .calendar-from{
        margin: 0 5px 0 0;
      }
      .input-group, .date{
      	display: inline-block;
        width: auto;
        border-radius: 0;
        input{
        	padding: 3px 16px;
        	width: 170px;
          max-width: 170px;
          height: 26px;
          border-top-left-radius:3px;
          border-bottom-left-radius:3px;
        }
      }
      .input-group-addon{
        width: 30px;
        height: 26px;
        padding: 4px 8px;
        display: inline-block;
      }
    }
  }
}
.business-sample-detail-list {
	.tab-content {
		@include flex(flex, column);
	}
}
