<div class="business-sample-list">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
	<div class="pt">
		<div class="toolbar clearfix">
			<button class="btn btn-default-dark" ui-sref="app.business.sample.create" role-auth="SAMPLE-ADD-1">
				<i class="fa fa-plus"></i>
				<span>接样单录入</span>
			</button>

			<ul class="statusBar clearfix">
        <li ng-class="{'active': vm.status === 0}">
          <a ng-click="vm.searchStatus(0)">
	        	<i class="icon icon-todo-list"></i>
            <span>未完成</span>
          </a>
        </li>
        <li ng-class="{'active': vm.status === 1}">
          <a ng-click="vm.searchStatus(1)">
	        	<i class="icon icon-finished-list"></i>
            <span>完成</span>
          </a>
        </li>
        <li ng-class="{'active': vm.status === 5}">
          <a ng-click="vm.searchStatus(5)">
	        	<i class="icon icon-all-list"></i>
            <span>所有</span>
          </a>
        </li>
      </ul>

			<div class="pull-right" ng-show="!vm.advance">
				<input class="input" placeholder="请输入报告编号查询" ng-model="vm.searchConditions.reportId" ng-keyup="vm.eventSearch($event)">
				<button class="btn btn-default-dark" ng-click="vm.search()">
					<i class="fa fa-search"></i>
					<span>查询</span>
				</button>
				<a href ng-click="vm.advance = true"><span>展开</span>&nbsp;<i class="fa fa-chevron-down"></i></a>
			</div>
			<div class="advanced-search clearfix" ng-show="vm.advance">
				<div class="clearfix">
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.reportIdArr" model="vm.searchConditions" key="reportId" placeholder="报告编号"></div>
					</div>
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.sampleNameArr" model="vm.searchConditions" key="sampleName" placeholder="样品名称"></div>
					</div>
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.entrustedUnitArr" model="vm.searchConditions" key="entrustedUnit" placeholder="委托单位"></div>
					</div>
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.inspectedUnitArr" model="vm.searchConditions" key="inspectedUnit" placeholder="受检单位"></div>
					</div>
				</div>
				<div class="clearfix">
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.productionUnitArr" model="vm.searchConditions" key="productionUnit" placeholder="生产单位"></div>
					</div>
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.sampleIdArr" model="vm.searchConditions" key="receiveSampleId" placeholder="抽样单编号"></div>
					</div>
					<div class="col-sm-3">
						<div custom-select avail-arr="vm.exeStandardArr" model="vm.searchConditions" key="executeStandard" placeholder="执行标准"></div>
					</div>
					<button class="btn btn-default-dark pull-left" ng-click="vm.search()">
						<i class="fa fa-search"></i>
						<span>查询</span>
					</button>
					<button class="btn btn-default-dark pull-left" ng-click="vm.reset()">
						<i class="fa fa-refresh"></i>
						<span>重置</span>
					</button>
					<a href class="pull-left" ng-click="vm.back()"><span>收起</span>&nbsp;<i class="fa fa-chevron-up"></i></a>
        </div>
			</div>
		</div>

		<table class="pt-table" st-table="vm.samples" st-pipe="vm.getSampleList">
			<thead st-search-watch="vm.searchObject">
				<tr>
					<th st-sort="sampleType">报告编号<i class="fa fa-sort"></i></th>
					<th>样品名称</th>
					<th>委托单位</th>
					<th>受检单位</th>
					<th>生产单位</th>
					<th>抽样单编号</th>
					<th>执行标准</th>
					<th st-sort="createdAt">创建时间<i class="fa fa-sort"></i></th>
					<th style="width:140px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.loading">
					<td colspan="9" class="text-center"><i class="fa fa-pluse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.loading && vm.samples.length === 0">
					<td colspan="9" class="text-center">暂无接样单</td>
				</tr>
				<tr ng-repeat="sample in vm.samples track by $index" ng-if="!vm.loading" ng-click="vm.selectSample(sample)" ng-class="{'selected': vm.selectedSample.receiveSampleId == sample.receiveSampleId}">
					<td>{{ sample.reportId }}</td>
					<td>{{ sample.sampleName }}</td>
					<td>{{ sample.entrustedUnit }}</td>
					<td>{{ sample.inspectedUnit }}</td>
					<td>{{ sample.productionUnit }}</td>
					<td>{{ sample.receiveSampleId }}</td>
					<td>{{ sample.executeStandard }}</td>
					<td>{{ sample.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					<td class="dropdown-col">
						<div class="btn-group">
							<button class="btn btn-default" ng-click="vm.goDetail(sample.receiveSampleId)">
								<i class="fa fa-edit"></i><span>编辑</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="SAMPLE-ADD-1 SAMPLE-DELETESAMPLE-1" ng-click="vm.toggleDropdown($event)">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.clone(sample, $event)" role-auth="SAMPLE-ADD-1">
									<a href><i class="fa fa-clone"></i><span>复制</span></a>
								</li>
								<li ng-click="vm.delete(sample, $event)" role-auth="SAMPLE-DELETESAMPLE-1">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9">
						<div st-idp st-total-count="vm.total"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<p class="selected-sample">
		<span>报告 <b>{{ vm.selectedSample.reportId }}</b> 检测项信息</span>
	</p>
	<div class="pt-2">
		<div class="contract-check-list check-list">
			<div class="check-tree" role-auth="SAMPLE-ADDITEM-1">
				<div class="loading" ng-if="vm.catalogLoading"><i></i></div>
				<div id="inspectTree" class="ztree"></div>
			</div>
			<div class="check-info" ng-class="{'no-padding': !vm.hasAddItemAuth}">
				<div class="toolbar" role-auth="SAMPLE-ADDITEM-1">
					<button class="btn btn-default-dark" ng-click="vm.addSampleCI()">
						<i class="fa fa-plus"></i>
						<span>添加检测项</span>
					</button>
					<button class="btn btn-default-light" ng-click="vm.appendCI()" ng-show="vm.clonedSampleId && vm.clonedSampleId != vm.selectedSample.receiveSampleId">
						<i class="icon icon-paste"></i>
						<span>追加复制检测项</span>
					</button>
					<button class="btn btn-default-light" ng-click="vm.batchDistribute()">
						<i class="icon icon-distribute"></i>
						<span>批量分配检测人员</span>
					</button>
				</div>
				<table class="pt-table">
					<thead>
						<tr>
							<th style="width: 80px;">
								<input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.allSelected">
								序号
							</th>
							<th>名称</th>
							<th>检测方法</th>
							<th>单位</th>
							<th>标准值</th>
							<th>默认价格</th>
							<th>状态</th>
							<th>分包</th>
							<th>检测部门</th>
							<th>检测员</th>
							<th>更新时间</th>
							<th style="width: 140px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="vm.ciLoading">
							<td colspan="12" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
						</tr>
						<tr ng-if="!vm.ciLoading && vm.checkItems.length == 0">
							<td colspan="12" class="text-center">暂无检测项</td>
						</tr>
						<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.ciLoading">
							<td>
								<input type="checkbox" ng-checked="vm.itemSelected[$index]" ng-click="vm.selectItem($event, $index, item)">
								{{ $index + 1 }}
							</td>
							<td>{{ item.name }}</td>
							<td>{{ item.method }}</td>
							<td>{{ item.unit }}</td>
							<td>{{ item.standardValue }}</td>
							<td>{{ item.defaultPrice }}</td>
							<td>
								<i class="icon"
									ng-class="{'initial icon-status-doing': item.status==0,
									'handling icon-status-unhandle': item.status==1,
									'done icon-status-success': item.status==2}">
								</i>
								<span ng-if="item.status == 0">未分配</span>
								<span ng-if="item.status == 1">待检测</span>
								<span ng-if="item.status == 2">检测完成</span>
							</td>
							<td>{{ item.subpackage }}</td>
							<td>{{ item.testRoom || '--' }}</td>
							<td>{{ item.testUser || '--' }}</td>
							<td>{{ item.updatedAt | date:'yyyy-MM-dd hh:mm:ss' }}</td>
							<td class="dropdown-col">
								<div class="btn-group" role-auth="SAMPLE-ADDITEM-1 SAMPLE-DELETEITEM-1">
									<button class="btn btn-default" ng-click="vm.edit(item)" role-auth="SAMPLE-ADDITEM-1">
										<i class="fa fa-edit"></i><span>编辑</span>
									</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="SAMPLE-ADDITEM-1 SAMPLE-DELETEITEM-1">
										<i class="caret"></i>
									</button>
									<ul class="dropdown-menu">
										<li ng-click="vm.distribute(item)" role-auth="SAMPLE-ADDITEM-1">
											<a href><i class="icon icon-distribute"></i><span>检测分配</span></a>
										</li>
										<li ng-click="vm.deleteCI(item)" role-auth="SAMPLE-DELETEITEM-1">
											<a href><i class="fa fa-trash"></i><span>删除</span></a>
										</li>
									</ul>
								</div>
							</td>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
