.business-sample-list, .report-list {
	.pt-2 {
		min-height: 300px;
		@include flex(flex, column);
	}
	table.pt-table tbody tr.selected {
		background-color: #e0e0e0;
	}
	.switch input+label+span {
		&:before {
			content: '否';
		}
		&:after {
			content: '是';
		}
	}
  .create-group-btn {
    display: inline-block;
    position: relative;
    .dropdown-menu {
      left: -1px;
      li a:hover {
        color: $blue-color;
        background-color: transparent;
      }
    }
  }
	.advanced-search {
		margin-top: 10px;
    padding-right: 0;
    >div {
    	&:first-child {
        margin-bottom: 5px;
      }
      >div {
        padding-left: 0;
        max-width: 300px;
        input {
          width: 100%;
        }
      }
    }
    .select-wrapper {
      margin-right: 10px;
    }
    input {
    	background-image: none;
    	padding-left: 10px!important;
      &.date {
        padding-right: 25px;
        background-image: url(./images/calendar.png);
        background-repeat: no-repeat;
        background-position: 98% 55%;
      }
      &::-ms-input-placeholder {
        color: #ccc;
      }
      &::-moz-input-placeholder {
        color: #ccc;
      }
      &::-webkit-input-placeholder {
        color: #ccc;
      }
    }
    a {
      margin-top: 4px;
    }
  }
}
.business-sample-detail-list {
	.tab-content {
		@include flex(flex, column);
	}
}
