<div class="select-wrapper">
	<input class="{{className}}" placeholder="{{placeholder}}" name="{{name}}" ng-model="model[key]" ng-click="togglePanel($event)" required ng-if="name && !type">
	<input class="{{className}}" placeholder="{{placeholder}}" name="{{name}}" ng-model="model[key]" ng-click="togglePanel($event)" ng-if="!name && !type">
	<textarea rows="2" class="{{className}}" placeholder="{{placeholder}}" name="{{name}}" ng-model="model[key]" ng-click="togglePanel($event)" ng-if="type === 'textarea'"></textarea>
	<ul class="ng-hide">
		<li ng-repeat="option in availArr track by $index">
			<a ng-click="select($event, option)">{{ option }}</a>
		</li>
	</ul>
</div>
