<div class="contract-check-list check-list">
	<div class="check-tree" role-auth="SAMPLE-ADDITEM-1&CHECKITEM-CATALOG-SELECT-1">
		<div class="loading" ng-if="vm.catalogLoading"><i></i></div>
		<div id="inspectTree" class="ztree"></div>
	</div>
	<div class="check-info" ng-class="{'no-padding': !vm.hasAddItemAuth}">
		<div class="toolbar">
			<button class="btn btn-default-dark" ng-click="vm.addSampleCI()" role-auth="SAMPLE-ADDITEM-1">
				<i class="fa fa-plus"></i>
				<span>添加检测项</span>
			</button>
			<button class="btn btn-default-light" ng-click="vm.appendCI()" role-auth="SAMPLE-ADDITEM-1" ng-show="vm.clonedSampleId">
				<i class="icon icon-paste"></i>
				<span>追加复制检测项</span>
			</button>
			<!-- <button class="btn btn-default-light" ng-click="vm.batchDistribute()" role-auth="SAMPLE-ADDITEM-1">
				<i class="icon icon-distribute"></i>
				<span>批量分配检测人员</span>
			</button> -->
		</div>
		<table class="pt-table">
			<thead>
				<tr>
          <th style="width: 70px;">
	          <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.allSelected">
	          序号
	        </th>
					<th>
						<div>抽样单编号</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>名称</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>检测方法</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>单位</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>标准值</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>默认价格</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>状态</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>是否分包</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>检测部门</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>检测员</div>
						<adjust-line></adjust-line>
					</th>
					<th>
						<div>更新时间</div>
						<adjust-line></adjust-line>
					</th>
					<th style="width: 100px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.ciLoading">
					<td colspan="13" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.ciLoading && vm.checkItems.length == 0">
					<td colspan="13" class="text-center">暂无检测项</td>
				</tr>
				<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.ciLoading">
          <td>
            <input type="checkbox" ng-checked="vm.itemSelected[$index]" ng-click="vm.selectItem($event, $index, item)">
            {{ $index + 1 }}
          </td>
					<td>{{ item.receiveSampleId }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.method }}</td>
					<td>{{ item.unit }}</td>
					<td>{{ item.standardValue }}</td>
					<td>{{ item.defaultPrice }}</td>
					<td>
						<i class="icon"
							ng-class="{'initial icon-status-doing': item.status==0,
							'handling icon-status-unhandle': item.status==1,
							'done icon-status-success': item.status==2}">
						</i>
						<span ng-if="item.status == 0">未分配</span>
						<span ng-if="item.status == 1">待检测</span>
						<span ng-if="item.status == 2">检测完成</span>
					</td>
					<td>{{ item.subpackage === '1' ? '是' : '否' }}</td>
					<td>{{ item.testRoom || '--' }}</td>
					<td>{{ item.testUser || '--' }}</td>
					<td>{{ item.updatedAt | date:'yyyy-MM-dd hh:mm:ss' }}</td>
					<td class="dropdown-col">
						<div class="btn-group">
							<button class="btn btn-default" ng-click="vm.edit(item)" role-auth="SAMPLE-ADDITEM-1">
								<i class="fa fa-edit"></i><span>编辑</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="SAMPLE-ADDITEM-1 SAMPLE-DELETEITEM-1">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<!-- <li ng-click="vm.distribute(item)" role-auth="SAMPLE-ADDITEM-1">
									<a href><i class="icon icon-distribute"></i><span>分配检测人员</span></a>
								</li> -->
								<li ng-click="vm.delete(item)" role-auth="SAMPLE-DELETEITEM-1">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
