<div class="contract-check-list check-list">
	<div class="check-tree">
		<div class="loading" ng-if="vm.catalogLoading"><i></i></div>
		<div id="inspectTree" class="ztree"></div>
	</div>
	<div class="check-info">
		<div class="toolbar">
			<button class="btn btn-default-dark" ng-click="vm.addSampleCI()">
				<i class="fa fa-plus"></i>
				<span>添加检测项</span>
			</button>
		</div>
		<table class="pt-table">
			<thead>
				<tr>
					<th>序号</th>
					<th>抽样单编号</th>
					<th>名称</th>
					<th>检测方法</th>
					<th>单位</th>
					<th>标准值</th>
					<th>默认价格</th>
					<th>分包</th>
					<th>检测部门</th>
					<th>更新时间</th>
					<th style="width: 140px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.ciLoading">
					<td colspan="11" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.ciLoading && vm.checkItems.length == 0">
					<td colspan="11" class="text-center">暂无检测项</td>
				</tr>
				<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.ciLoading">
					<td>{{ $index }}</td>
					<td>{{ vm.sample.receiveSampleId }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.method }}</td>
					<td>{{ item.unit }}</td>
					<td>{{ item.standardValue }}</td>
					<td>{{ item.defaultPrice }}</td>
					<td>{{ item.subpackage }}</td>
					<td>{{ item.testRoom }}</td>
					<td>{{ item.updatedAt | date:'yyyy-MM-dd hh:mm:ss' }}</td>
					<td class="dropdown-col">
						<div class="btn-group">
							<button class="btn btn-default" ng-click="vm.edit(item)">
								<i class="fa fa-edit"></i><span>编辑</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.distribute(item)">
									<a href><i class="fa fa-trash"></i><span>分配检测人员</span></a>
								</li>
								<li ng-click="vm.delete(item)">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
