<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
	<h4>编辑检测项</h4>
</div>
<div class="modal-body">
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label item-required">名称</label>
			<div class="col-sm-8">
				<input class="form-control" name="name" ng-model="vm.checkItem.name" required>
			</div>
			<div class="col-sm-9 col-sm-offset-3" ng-if="form.name.$dirty" ng-messages="form.name.$error">
				<label class="error-messages" ng-message="required"><i></i>不能为空</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label item-required">检测方法</label>
			<div class="col-sm-8">
				<input class="form-control" name="method" ng-model="vm.checkItem.method" required>
			</div>
			<div class="col-sm-9 col-sm-offset-3" ng-if="form.method.$dirty" ng-messages="form.method.$error">
				<label class="error-messages" ng-message="required"><i></i>不能为空</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">单位</label>
			<div class="col-sm-8">
				<input class="form-control" name="unit" ng-model="vm.checkItem.unit">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">标准值</label>
			<div class="col-sm-8">
				<!-- <input class="form-control" name="value" ng-model="vm.checkItem.standardValue"> -->
				<div custom-select mode="append" class-name="form-control inline" avail-arr="vm.characterArr" model="vm.checkItem" key="standardValue"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">检出限</label>
			<div class="col-sm-8">
				<input class="form-control" ng-model="vm.checkItem.detectionLimit">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">定量限</label>
			<div class="col-sm-8">
				<input class="form-control" ng-model="vm.checkItem.quantitationLimit">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">设备</label>
			<div class="col-sm-8">
				<input class="form-control" ng-model="vm.checkItem.device">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">默认价格</label>
			<div class="col-sm-8">
				<input class="form-control" ng-model="vm.checkItem.defaultPrice">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default-dark" ng-click="vm.ok()" ng-disabled="form.$invalid">确认</button>
	<button class="btn btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
