<nav class="navbar">
  <div class="navbar-head">
    <i></i>
    <span>Logo</span>
  </div>
  <div class="navbar-section">
    <div id="accordion">
      <div class="panel">
        <div ng-class="{'active': vm.isDashboardActive}">
          <a title="主页" ng-click="vm.open('dashboard')">
            <i class="icon icon-home"></i>
            <span>主页</span>
          </a>
        </div>
      </div>

      <div class="panel" role-auth="CONTRACT-SELECT-1 SAMPLE-SELECT-1">
        <div data-parent="#accordion" data-toggle="collapse" data-target="#businessManage" aria-expanded="{{vm.isBusinessActive}}">
          <a>
            <i class="icon icon-business"></i>
            <span>业务管理</span>
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
        <ul id="businessManage" ng-class="{'collapse in': vm.isBusinessActive, 'collapse': !vm.isBusinessActive}">
          <li ng-class="{'active': vm.isBusinessContractActive}" role-auth="CONTRACT-SELECT-1">
            <a ui-sref="app.business.contract"><span>合同评审</span></a>
          </li>
          <li ng-class="{'active': vm.isBusinessSampleActive}" role-auth="SAMPLE-SELECT-1">
            <a ui-sref="app.business.sample"><span>业务受理</span></a>
          </li>
        </ul>
      </div>

      <div class="panel" role-auth="SAMPLE-SELECTITEM-1">
        <div ng-class="{'active': vm.isItemToCheckActive}">
          <a title="检测结果录入" ng-click="vm.open('itemToCheck')">
            <i class="icon icon-result"></i>
            <span>检测结果录入</span>
          </a>
        </div>
      </div>

      <div class="panel" role-auth="SAMPLE-SELECT-1">
        <div ng-class="{'active': vm.isReportActive}">
          <a title="报告管理" ng-click="vm.open('report')">
            <i class="icon icon-report"></i>
            <span>报告管理</span>
          </a>
        </div>
      </div>

      <div class="panel" role-auth="">
        <div data-parent="#accordion" data-toggle="collapse" data-target="#checkItemManage" aria-expanded="{{vm.isCheckItemActive}}">
          <a>
            <i class="icon icon-project"></i>
            <span>项目库</span>
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
        <ul id="checkItemManage" ng-class="{'collapse in': vm.isCheckItemActive, 'collapse': !vm.isCheckItemActive}">
          <li ng-class="{'active': vm.isCheckItemListActive}" role-auth="">
            <a ui-sref="app.checkItem.list"><span>检测项管理</span></a>
          </li>
          <li ng-class="{'active': vm.isCheckItemManageActive}" role-auth="">
            <a ui-sref="app.checkItem.manage"><span>自定义管理</span></a>
          </li>
        </ul>
      </div>

      <div class="panel" role-auth="">
        <div data-parent="#accordion" data-toggle="collapse" data-target="#fileManage" aria-expanded="{{vm.isFileActive}}">
          <a>
            <i class="icon icon-filecenter"></i>
            <span>文件管理</span>
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
        <ul id="fileManage" ng-class="{'collapse in': vm.isFileActive, 'collapse': !vm.isFileActive}">
          <li ng-class="{'active': vm.isTemplateActive}" role-auth="">
            <a ui-sref="app.file.template"><span>报告模板</span></a>
          </li>
        </ul>
      </div>

      <div class="panel">
        <div data-parent="#accordion" data-toggle="collapse" data-target="#privilegeManage" aria-expanded="{{vm.isPrivilegeActive}}">
          <a>
            <i class="icon icon-system"></i>
            <span>系统管理</span>
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
        <ul id="privilegeManage" ng-class="{'collapse in': vm.isPrivilegeActive, 'collapse': !vm.isPrivilegeActive}">
          <li ng-class="{'active': vm.isPrivilegeCurrentUserActive}" role-auth="">
            <a ui-sref="app.privilege.currentUser"><span>个人信息管理</span></a>
          </li>
          <li ng-class="{'active': vm.isPrivilegeOrganizationActive}" role-auth="ORGANIZATION-SELECT-1">
            <a ui-sref="app.privilege.organization"><span>部门管理</span></a>
          </li>
          <li ng-class="{'active': vm.isPrivilegeUserActive}" role-auth="USER-SELECT-1">
            <a ui-sref="app.privilege.user"><span>用户管理</span></a>
          </li>
          <li ng-class="{'active': vm.isPrivilegeRoleActive}" role-auth="ROLE-SELECT-1">
            <a ui-sref="app.privilege.role"><span>角色管理</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
