<div class="inner-container privilege-role-list">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
	<div class="pt-2">
		<div class="toolbar">
			<button class="btn btn-default-dark" ng-click="vm.create()" role-auth="ROLE-ADD-1">
				<i class="fa fa-plus"></i><span>新建角色</span>
			</button>
		</div>
		<table class="pt-table" st-table="vm.roles" st-pipe="vm.getRoleList">
			<thead st-search-watch="vm.searchObject">
				<tr>
					<th>角色名称</th>
					<th>描述</th>
					<th>创建时间</th>
					<th style="width: 140px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.loading">
					<td colspan="4" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.loading && vm.roles.length == 0">
					<td colspan="4" class="text-center">暂无角色</td>
				</tr>
				<tr ng-repeat="role in vm.roles track by $index" ng-if="!vm.loading">
					<td>{{ role.name }}</td>
					<td>{{ role.description }}</td>
					<td>{{ role.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					<td class="dropdown-col">
						<div class="btn-group" role-auth="ROLE-EDIT-1 ROLE-DELETE-1">
							<button class="btn btn-default" ng-click="vm.editEntity(role.id)" role-auth="ROLE-EDIT-1">
								<i class="fa fa-edit"></i><span>修改权限</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="ROLE-EDIT-1 ROLE-DELETE-1">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.editInfo(role)" role-auth="ROLE-EDIT-1">
									<a href><i class="fa fa-pencil"></i><span>修改信息</span></a>
								</li>
								<li ng-click="vm.delete(role)" role-auth="ROLE-DELETE-1">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<div st-idp st-total-count="vm.total"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal right fade" id="entityModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" ng-click="vm.close()">&times;</button>
					<h3 class="modal-title">更改权限项</h3>
				</div>
				<div class="modal-body">
					<div id="entityTree" class="ztree"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-2x btn-default-dark" ng-click="vm.ok()">确认</button>
					<button class="btn btn-2x btn-default-light" ng-click="vm.close()">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>
