.page-scroll {
  position: relative;
  height: 100%;
  background-color: transparent;
  .section {
    position: relative;
    display: block;
    &.first{
      background-color:rgba(16,48,92,1.0);
    }
  }

}
