.template-upload-form {
	a[custom-file-btn] {
		margin-left: 45px;
		margin-right: 35px;
	}
  .select-file{
    display: none !important;
  }
}

form[name='form'] .form-group .category {
	padding-top: 0;
}
