.quotation-detail {
  .no-vertical-line {
    .input {
      width: 100%;
      min-width: 100%;
    } 
  }
  .toggle-header {
    background-color: #f8f8f8;
    padding: 5px 10px;
    margin-bottom: 10px;
    @include box-shadow(0 0px 3px #aaa);
    cursor: pointer;
  }
  .toggle-body {
    padding: 0 3px;
  }
  .select-file{
    display: none !important;
  }
  .stamp-position {
    float: right;
  }
  .select-wrapper {
    width: initial;
  }
}

.quotation-preview-content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 20px; 
  text-align: center;
  font-size: 14px;
  >div {
    background-color: White;
    width: 100%;
    height: 100%;
    padding: 50px;
  }
}