<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
	<h4>编辑检测项</h4>
</div>
<div class="modal-body">
	<form name="form" class="form-horizontal">
		<div class="form-group">
			<label class="item-required col-sm-3 control-label">实测值</label>
			<div class="col-sm-8">
				<input class="form-control" name="value" ng-model="vm.checkItem.measuredValue" required>
				<div ng-if="form.value.$dirty" ng-messages="form.value.$error">
					<label class="error-messages" ng-message="required"><i></i>不能为空</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="item-required col-sm-3 control-label">结果</label>
			<div class="col-sm-8">
				<input class="form-control" name="result" ng-model="vm.checkItem.itemResult" required>
				<div ng-if="form.result.$dirty" ng-messages="form.result.$error">
					<label class="error-messages" ng-message="required"><i></i>不能为空</label>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default-dark" ng-click="vm.ok()" ng-disabled="form.$invalid">确认</button>
	<button class="btn btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
