<div class="checkItem-list">
	<bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>

	<div class="pt-2">
		<div class="toolbar clearfix">
			<button class="btn btn-default-dark" ng-click="vm.addCheckItem()">
				<i class="fa fa-plus"></i>
				<span>添加检测项</span>
			</button>
			<div class="pull-right">
				<input class="input" placeholder="请输入检测项名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
				<button class="btn btn-default-dark" ng-click="vm.search()">查询</button>
			</div>
		</div>
		<table class="pt-table" st-table="vm.checkItems" st-pipe="vm.getCheckItemList">
			<thead st-search-watch="vm.searchObject">
				<tr>
					<th>名称</th>
					<th>检测方法</th>
					<th>单位</th>
					<th>标准值</th>
					<th>检出限</th>
					<th>定量限</th>
					<th>设备</th>
					<th>默认价格</th>
					<th style="width: 140px">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="vm.loading">
					<td colspan="8" class="text-center"><i class="fa fa-pulse fa-spinner"></i></td>
				</tr>
				<tr ng-if="!vm.loading && vm.checkItems.length == 0">
					<td colspan="8" class="text-center">暂无检测项</td>
				</tr>
				<tr ng-repeat="item in vm.checkItems track by item.id" ng-if="!vm.loading">
					<td>{{ item.name }}</td>
					<td>{{ item.method }}</td>
					<td>{{ item.unit }}</td>
					<td>{{ item.standardValue }}</td>
					<td>{{ item.detectionLimit }}</td>
					<td>{{ item.quantitationLimit }}</td>
					<td>{{ item.device }}</td>
					<td>{{ item.defaultPrice }}</td>
					<td class="dropdown-col">
						<div class="btn-group">
							<button class="btn btn-default" ng-click="vm.editCheckItem(item)">
								<i class="fa fa-edit"></i><span>编辑</span>
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="caret"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-click="vm.deleteCheckItem(item)">
									<a href><i class="fa fa-trash"></i><span>删除</span></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9">
						<div st-idp st-total-count="vm.total"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
