<div class="contract-comment-list">
	<div class="toolbar">
		<button class="btn btn-default-dark">
			<i class="fa fa-plus"></i>
			<span>添加评审</span>
		</button>
	</div>
	<table class="pt-table">
		<thead>
			<tr>
				<th>评审人</th>
				<th>评审时间</th>
				<th>结论</th>
				<th style="width:140px">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="vm.loading">
				<td colspan="4" class="text-center"><i class="fa fa-pluse fa-spinner"></i></td>
			</tr>
			<tr ng-if="!vm.loading && vm.comments.length === 0">
				<td colspan="4" class="text-center">暂未开始评审</td>
			</tr>
			<tr ng-repeat="item in vm.comments | orderBy:time:true track by $index" ng-if="!vm.loading">
				<td>{{ item.userName }}</td>
				<td>{{ item.createTime }}</td>
				<td>{{ item.context }}</td>
				<td class="dropdown-col">
					<div class="btn-group" ng-if="item.userName == 'zhangsna'">
						<button class="btn btn-default" ng-click="vm.edit()">
							<i class="fa fa-edit"></i><span>编辑</span>
						</button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="caret"></i>
						</button>
						<ul class="dropdown-menu">
							<li ng-click="vm.delete()">
								<a href><i class="fa fa-trash"></i><span>删除</span></a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
