<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
	<h4>分配检测部门</h4>
</div>
<div class="modal-body">
	<form name="distributeForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label">选择部门</label>
			<div class="col-sm-8">
				<select class="form-control" ng-model="vm.department" ng-options="option for option in vm.departments"></select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default-dark" ng-click="vm.ok()" ng-disabled="distributeForm.$invalid">确认</button>
	<button class="btn btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
