.business-check-item-list {
	.tab-content {
		position: relative;
	}
}

.check-list {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	.check-tree {
		position: absolute;
		width: 200px;
		top: 10px;
		bottom: 10px;
		@include box-shadow(0 0 3px $border-color);
	}

	.check-info {
		width: 100%;
		height: 100%;
		padding-left: 210px;
	}

	ul.context-menu {
		position: absolute;
		display: none;
		border-radius: 3px;
		background-color: #e1e9ee;
		padding: 3px 8px;
		li {
			padding: 2px 4px;
			cursor: pointer;
			&:hover {
				color: $blue-color;
			}
		}
	}
}
