<div class="inner-container business-contract-list">
  <bread-crumb link-data="vm.breadCrumbArr"></bread-crumb>
  <div class="tab">
    <ul class="tab-items">
      <li ng-class="{'active': vm.type=='enterprise'}">
        <a ng-click="vm.toggleType('enterprise')">企业合同</a>
      </li>
      <li ng-class="{'active': vm.type=='government'}">
        <a ng-click="vm.toggleType('government')">政府合同</a>
      </li>
      <li ng-class="{'active': vm.type=='pb'}">
        <a ng-click="vm.toggleType('pb')">三品一标合同</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="toolbar clearfix">
        <button class="btn btn-default-dark" ui-sref="app.business.contract.create({type: vm.type})" role-auth="CONTRACT-ADD-1">
          <i class="fa fa-plus"></i>
          <span>合同登记</span>
        </button>

        <ul class="statusBar clearfix">
          <li ng-class="{'active': vm.statusFilter === 'all'}">
            <a ng-click="vm.searchStatus('all')">
              <i class="icon icon-all-list"></i>
              <span>所有</span>
            </a>
          </li>
          <li ng-class="{'active': vm.statusFilter === 'unhandled'}">
            <a ng-click="vm.searchStatus('unhandled')">
              <i class="icon icon-todo-list"></i>
              <span>待办</span>
            </a>
          </li>
          <li ng-class="{'active': vm.statusFilter === 'done'}">
            <a ng-click="vm.searchStatus('done')">
              <i class="icon icon-finished-list"></i>
              <span>已办</span>
            </a>
          </li>
        </ul>

        <div class="pull-right">
          <input class="input" placeholder="请输入样品名称查询" ng-model="vm.query" ng-keyup="vm.eventSearch($event)">
          <button class="btn btn-default-dark" ng-click="vm.search()">
            <i class="fa fa-search"></i>
            <span>查询</span>
          </button>
        </div>
      </div>

      <table class="pt-table" st-table="vm.contracts" st-pipe="vm.getContractList">
        <thead st-search-watch="vm.searchObject">
          <tr>
            <th>
              <div>合同编号</div>
              <adjust-line></adjust-line>
            </th>
            <th>
              <div>样品名称</div>
              <adjust-line></adjust-line>
            </th>
            <th>
              <div st-sort="detectType">检验类别<i class="fa fa-sort"></i></div>
              <adjust-line></adjust-line>
            </th>
            <th>
              <div>执行标准</div>
              <adjust-line></adjust-line>
            </th>
            <th>
              <div>状态</div>
              <adjust-line></adjust-line>
            </th>
            <th>
              <div st-sort="createdAt">登记时间<i class="fa fa-sort"></i></div>
              <adjust-line></adjust-line>
            </th>
            <th style="width:150px">操作</th>
          </tr>
        </thead>
        <tbody st-set-table st-page-size="vm.pageSize" st-page="vm.pageNum" st-order-by="vm.orderBy" st-reverse="vm.reverse">
          <tr ng-if="vm.loading">
            <td colspan="7" class="text-center">
              <i class="fa fa-pluse fa-spinner"></i>
            </td>
          </tr>
          <tr ng-if="!vm.loading && vm.contracts.length === 0">
            <td colspan="7" class="text-center">暂无合同</td>
          </tr>
          <tr ng-repeat="contract in vm.contracts track by $index" ng-if="!vm.loading">
            <td>
              <a href ui-sref="app.business.contract.detail.info(
                {type: contract.type, status: vm.statusFilter, pageSize: vm.pageSize, pageNum: vm.pageNum,
                  orderBy: vm.orderBy, reverse: vm.reverse, sampleName: vm.sampleName, id: contract.id})">
                {{ contract.id }}
              </a>
            </td>
            <td>{{ contract.sampleName }}</td>
            <td>{{ contract.detectType }}</td>
            <td>{{ contract.executeStandard }}</td>
            <td>
              <i class="icon" ng-class="{'initial icon-status-unhandle': contract.status==0,
							'handling icon-status-update': contract.status==1,
							'approving icon-status-edit': contract.status==2,
							'done icon-status-success': contract.status==3}">
              </i>
              <span ng-if="contract.status == 0">待评审</span>
              <span ng-if="contract.status == 1">评审中</span>
              <span ng-if="contract.status == 2">修改中</span>
              <span ng-if="contract.status == 3">结束</span>
            </td>
            <td>{{ contract.createdAt | date:'medium' }}</td>
            <td class="dropdown-col">
              <div class="btn-group" role-auth="CONTRACT-STARTPROCESS-1 CONTRACT-UPDATE-1 CONTRACT-DELETE-1">
                <button class="btn btn-default" ng-click="vm.startCommentProcess(contract.id)" ng-if="contract.status == '0'" role-auth="CONTRACT-STARTPROCESS-1">
                  <i class="icon icon-launch"></i>
                  <span>发起评审流程</span>
                </button>
                <button class="btn btn-default" ng-click="vm.recordComment(contract)" ng-if="contract.task && contract.status == '1'" role-auth="CONTRACT-UPDATE-1">
                  <i class="icon icon-record"></i>
                  <span>录入评审意见</span>
                </button>
                <button class="btn btn-default" ui-sref="app.business.contract.detail.info({type: contract.type, status: vm.statusFilter, id: contract.id})" ng-if="contract.status != 0 && (!contract.task || contract.status != '1')"
                  role-auth="CONTRACT-UPDATE-1">
                  <i class="fa fa-edit"></i>
                  <span>编辑</span>
                </button>
                <button class="btn dropdown-toggle" data-toggle="dropdown" role-auth="CONTRACT-UPDATE-1 CONTRACT-DELETE-1">
                  <i class="caret"></i>
                </button>
                <ul class="dropdown-menu">
                  <li ui-sref="app.business.contract.detail.info({type: contract.type, status: vm.statusFilter, id: contract.id})" ng-if="contract.status === 0 || (contract.task && contract.status === 1)" role-auth="CONTRACT-UPDATE-1">
                    <a href>
                      <i class="fa fa-edit"></i>
                      <span>编辑</span>
                    </a>
                  </li>
                  <li ng-click="vm.delete(contract)" role-auth="CONTRACT-DELETE-1">
                    <a href>
                      <i class="fa fa-trash"></i>
                      <span>删除</span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <div st-idp st-total-count="vm.total"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
