.business-contract-detail-list {
	.tab-content {
		@include flex(flex, column);
	}
}

.business-contract-create-list, .business-contract-info-list {
	.validate-waiting {
		position: relative;
		.fa-spinner {
			position: absolute;
			display: block;
			right: 10px;
			top: 50%;
			margin-top: -7px;
		}
	}
}

.start-comment-process {
	.col-sm-8 {
		padding-left: 0;
		padding-right: 0;
		margin-left: 15px;
	}
}



form[name="inspectionAddForm"] {
	.switch {
		margin: 5px 0 0 15px;
	}
}
