.business-contract-detail-list {
	.tab-content {
		position: relative;
	}
}

.business-contract-create-list, .business-contract-info-list {
	.validate-waiting {
		position: relative;
		.fa-spinner {
			position: absolute;
			display: block;
			right: 10px;
			top: 50%;
			margin-top: -7px;
		}
	}
}



form[name="inspectionAddForm"] {
	.switch {
		margin: 5px 0 0 15px;
	}
}
