.business-contract-create-list, .business-contract-info-list {
	.input {
		min-width: 100%;
		width: 100%;
	}	
	.border-table .select-wrapper ul {
		right: initial;
		min-width: 100%;
	}
	.report-count {
		>div {
			padding: 0;
		}
		input {
			min-width: initial;
			width: calc(100% - 60px)!important;
		}
	}
	input[type='file'] {
		display: none;
	}
	.file-item {
		vertical-align: top;
		display: inline-block;
		padding: 2px 8px;
		margin: 0px 5px 3px 0;
		background-color: #f8f8f8; 
		border-radius: 3px;
			cursor: pointer;
		&:hover {
			background-color: #eee;
		}
		i:hover {
			color: red;
		}
	}
}

.start-comment-process {
	.col-sm-8 {
		padding-left: 0;
		padding-right: 0;
		margin-left: 15px;
	}
}



form[name="inspectionAddForm"] {
	.switch {
		margin: 5px 0 0 15px;
	}
}

.contract-log-list {
	margin: 20px 0 20px 20px;
	.btn {
		width: 120px;
		height: 30px;
	}
}
