<div class="modal-header">
	<div class="close" ng-click="vm.cancel()">&times;</div>
	<h4>发起合同评审</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal start-comment-process">
		<div class="form-group">
			<label class="col-sm-3 control-label">选择评审员</label>
			<div class="col-sm-8">
				<multiple-autocomplete ng-model="vm.users" object-property="name" suggestions-arr="vm.availUsers"></multiple-autocomplete>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default-dark" ng-click="vm.ok()">确认</button>
	<button class="btn btn-default-light" ng-click="vm.cancel()">取消</button>
</div>
